*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.max-width{
    max-width: 1360px;
    margin: 0 auto;
}
.btn{
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 12px 16px;
    font-weight: 600;
    border: none;
}
.green{
    color: #469165;
}

/* icon section */


/* header section*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
    
}
/* nav img{
    width: 139px;
    height: 60px;
} */
.menu ul{
    display: flex;
    gap: 32px;
    list-style: none;
    justify-content: center;
}
.menu ul li a{
    text-decoration: none;
    color: #000000;
}
/* bg-image section*/
.banner{
    height: 674px;
    background-image: url(../assets/hero-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.banner-content{
    text-align: center;
}
.banner-heading{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
}
.banner-description{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 28px;

}
.unique-btn{
    color: #469165;
    border: none;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px;
    font-weight: 500;
    margin-bottom: 16px;
}

.btn-flex{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.btn-right{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    max-width: 198px;   
}





