*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.max-width{
    max-width: 1360px;
    margin: 0 auto;
}
.btn{
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 12px 16px;
    font-weight: 600;
    border: none;
}

/* header section*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
}
/* nav img{
    width: 139px;
    height: 60px;
} */
.menu ul{
    display: flex;
    gap: 32px;
    list-style: none;
    justify-content: center;
}
.menu ul li a{
    text-decoration: none;
    color: #000000;
}
/* bg-image section*/



