*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-type{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}
/* shared style */
.max-width{
    width: 81%;
    max-width: 1360px;
    margin: 0 auto;
}
.btn{
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 12px 16px;
    font-weight: 600;
    border: none;
}
.green{
    color: #469165;
}
.heading-content{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
}
.info{
    color: #627382;
    line-height: 20px;
    margin-top: 16px;
}
.text-center{
    text-align: center;

}

/* icon section */


/* header section*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
    
}
/* nav img{
    width: 139px;
    height: 60px;
} */
.menu ul{
    display: flex;
    gap: 32px;
    list-style: none;
    justify-content: center;
}
.menu ul li a{
    text-decoration: none;
    color: #000000;
}
/* bg-image section*/
.banner{
    height: 674px;
    background-image: url(../assets/hero-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.banner-heading{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
}
.banner-description{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 28px;

}
.unique-btn{
    color: #469165;
    border: none;
    background-color: #FFFFFF;
    border-radius: 1000px;
    padding: 8px 12px;
    font-weight: 500;
    margin-bottom: 16px;
}

.btn-flex{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.btn-right{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    max-width: 198px;   
}

/* main section */
.notes{

    background-color: #f7f6f263;
    padding-top: 40px;
    
}
.note-container{
    padding-top: 44px;
    display: flex;
    gap: 24px;
    justify-content:center;
    text-align: center;
    
}
.note-box{
    border: 1px solid #FFFFFF;
    padding: 69px 24px 0 24px;
    box-shadow: 0 0 8px #00000010 ;
    border-radius: 8px 8px 0 0;
    background-color: #FFFFFF;
    border-bottom: none;
    
}

.note-box img{
    background-color:#F95555;
    border-radius: 50%;
    padding: 14px;      
}

.note-box h3{
    margin-top: 16px;
    color:#001931 ;
    font-size: 24px;
    font-weight: 600;   
}
.note-box p{
    color: #627382;
    margin-top: 16px;
}
/* Brain section */
.Brain-container{
    display: flex;
    gap: 60px;
    margin-top: 120px;
}
/* .knowledge img{
    height: 600px;
    width: 600px;
} */
.brain-test{
    margin-top: 121px;
    width: 500px;
}
.brain-test .test-header{
    color: #469165;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.brain-test ul li{
    margin-top: 20px;
    list-style-type: none;
    line-height: 20px ;
    font-weight: 500;
    margin-bottom: 16px;
    color: #001931;
}
/* Challange section */
 .challanges{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F6F2;
    border-radius: 12px;
    margin-bottom: 120px;
    
 }
 .challange-container{
    text-align: center;
    padding: 80px 0px;
 }
 .c-heading{
    font-size: 40px;
 }
 .c-btn{
    box-shadow: 0 10px 20px #00000021;
    margin-top: 24px;
   
 }
/* footer section */
footer{
    background-color: #001931;

}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    align-items: center;
}
footer .social img{
    /* width: 20px;
    height: 20px; */
    background-color: #FFFFFF;   
    border-radius:50%;
    padding: 2px;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    /* width: 100%; */
}
footer .social p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 16px;
}
footer hr{
    border: 1px solid #E5E7EB;
    margin-top: 80px;
    /* color:#E5E7EB ; */
    font-weight: 1;
}
footer .copyright{
    margin-top: 30px;
    color: #FAFAFA;
    line-height:24px;
    padding-bottom: 30px;
}








